---
layout: default
---
<div class="wrapper">
<div class="page">

  <!-- <nav role="navigation">
    <ul id="js-navigation-menu" class="navigation-menu show">
      {% for page in site.pages %}
        {% if page.title and page.main_nav != false %}
        <li class="nav-link"><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
        {% endif %}
      {% endfor %}
    </ul>
  </nav> -->

  <header class="post-header">
    <h1 class="post-title">Posts in "{{ page.title | capitalize }}"</h1>
  </header>

  {% include page_divider.html %}

  <article class="post-content">
    <ul class="posts-list">
      {% for post in page.posts %}
      <li><strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong><span class="post-date"> - {{ post.date | date: "%B %-d, %Y" }}</span></li>
      {% endfor %}
    </ul>
  </article>

</div>
</div>
<br>
